/bin/*
/obj/*
/packages/*
/.vs/***


.vs/JackHenryTwitter/v16/.suo

/App_Data/tweetStatsJson - Copy.json
/App_Data/tweetJson - Copy.json
/App_Data/emojiStatsJson - Copy.json
.vs/JackHenryTwitter/v16/.suo
