@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Jack Henry Code Challenge</h1>
    <p class="lead">This application is a sample of the code techniques Chuck Criswell uses when writing code.</p>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Available Processes</h2>
        <p>
            <input type="button" value="Start A New One Minute Async Download" class="btn-primary" id="btnRefreshTweetData" />
            <input type="button" onclick="goToTweetStats()" class="btn-primary" value="View Current Tweet Statistics" /> &nbsp;
        </p>
    </div>
</div>
<script type="text/javascript">
    function goToTweetStats() {
        window.location.href="/Home/TweetStatistics";
    }
    $().ready(function () {
        $("#btnRefreshTweetData").on("click", function () {
            var data = { "secondsToRun": 60 };
            $.ajax({
                method: "POST",
                url: "/Home/GetTweetStreamFromTwitter",
                dataType: "json",
                data: data,
                beforeSend: function () {
                    alert("Your download has started. This is done behind the sceens so you are free to continue on.")
                }
            })
        });
    });
</script>