@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Coding Example</h3>
    <p class="lead">
        This application is an example of the code techniques used by Chuck Criswell.<br />
        What this sample does:
        <ul>
            <li>
                provides a means to consume a Twitter service
            </li>
            <li>
                stores the consumed data
            </li>
            <li>
                computes statistics from the data
            </li>
            <li>
                stores the computed statistics
            </li>
            <li>
                reports the statistical data
            </li>
        </ul>
    </p>
</div>
<div class="row">
    <div class="col-md-6">
        <p>
            You can click this button to go to the page that shows existing stored computed statistics.
            <input type="button" onclick="goToTweetStats()" class="btn-primary" value="View Current Tweet Statistics" /> &nbsp;
        </p>
    </div>
    @*<div class="col-md-6">
        <p>
            You can click this button to start an async process that utilizes the Twitter service. 
            <input type="button" value="Start A New Twitter Async Download" class="btn-primary" id="btnRefreshTweetData" />
        </p>
    </div>*@
</div>
<script type="text/javascript">
    function goToTweetStats() {
        window.location.href = "/Home/TweetStatistics";
    }

    $().ready(function () {
        $("#btnRefreshTweetData").on("click", function () {
            var data = { "secondsToRun": 10 };
            $.ajax({
                method: "POST",
                url: "/Home/GetTweetStreamFromTwitter",
                dataType: "json",
                data: data,
                beforeSend: function () {
                    alert("Your download will start when you close this Alert. This is actually being done behind the sceens so you are free to navigate the site as you please.")
                }
            })
                //.done(function (result) {
                //    if (result.IsComplete == true) {
                //        if (confirm("The download is complete would you like to look at the results?")) {
                //            goToTweetStats();
                //        }
                //    }
                //});

        });
    });
</script>