@model JackHenryTwitter.Models.TweetStats
@{
    ViewBag.Title = "Tweet Challenge For Jack Henry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tweet Statistics</h2>

<div class="row">
    <div class="col-md-3">
        <input type="button" value="Refresh Statistics" id="btnViewStats" class="btn-primary" />
    </div>
    <div class="col-md-9">
        <input type="button" value="Load More Tweets" id="btnRefreshTweetData" class="btn-primary" />
    </div>
</div>

<br />
<div id="divWaiting" style="display:none;">
    <span style="color:blue;">
        More data is currently loading. This is being done asynchronously. The stats below will update every 10 seconds so you can see the new stats.
    </span>
    <br />
    Approximate time left for new Tweet Load <span id="spanTimer" style="color: red; font-weight:bold;"></span> seconds.
</div>
<div id="divReport">
    @{
        Html.RenderPartial("GetTweetStatistics");
    }
</div>
<script type="text/javascript">
    function checkForLoadResults() {
        $.ajax({
            method: "POST",
            url: "/Home/HasTwitterLoadCompleted",
            dataType: "json",
            data: data,
            complete: function (result) {

                if (result.IsComplete == true) {
                    $("#divWaiting").hide();
                    $("#btnRefreshTweetData").removeAttr("disabled");
                    $("#btnViewStats").trigger("click");
                }
                else {
                    setTimeout(function () {
                        checkForLoadResults();
                    }, 1000);
                }
            }
        })
    }

    $().ready(function () {
        var timer;
        $("#btnRefreshTweetData").on("click", function () {
            var secondsToRun = $("#runForTime").val();
            var data = { "secondsToRun": secondsToRun };
            $.ajax({
                method: "POST",
                url: "GetTweetStreamFromTwitter",
                dataType: "json",
                data: data,
                beforeSend: function () {
                    $("#divWaiting").show();
                    $("#btnRefreshTweetData").attr("disabled", "disabled");

                    timer = setInterval(function () {
                        $("#btnViewStats").trigger("click");
                    }, 10000);
                }
            })
                .done(function (result) {
                    if (result.IsComplete == true) {
                        $("#divWaiting").hide();
                        $("#btnRefreshTweetData").removeAttr("disabled");
                        $("#btnViewStats").trigger("click");
                    }
                });

        });

        $("#btnViewStats").on("click", function () {
            $.ajax({
                method: "POST",
                url: "GetTweetStatistics",
                dataType: "html",
                beforeSend: function () {
                    $("#divReport").hide();
                }
            })
                .done(function (html) {
                    $("#divReport").html(html);
                    $("#divReport").show();
                });
        });
    });
</script>